Unicode strings with BOM corrupt ->utf8 state

So we ran into this recently, and finally put together a test case.

If you have a `Cpanel::JSON::XS` instance *without* the `utf8` flag set, it'll silently enable that flag if you call `->decode` with a string containing a BOM.

Best illustrated with a test script:

```
use strict;
use warnings;

use Test::More;

use Cpanel::JSON::XS;
use charnames qw(:short);

my $json = Cpanel::JSON::XS->new;

ok(my $as_json = eval {
    $json->encode({ example => "data with non-ASCII characters", unicode => "\N{greek:Sigma}" })
}, 'can encode a basic structure');
ok(eval { $json->decode($as_json) }, 'can decode again');
ok(eval { $json->decode("\x{feff}" . $as_json) }, 'can decode with BOM');
ok(eval { $json->decode($as_json) }, 'can decode original');
done_testing;
```

I think this behaviour is incorrect in two ways:

- it affects the object state and is not documented
- even for the BOM-containing string, this behaviour is IMHO wrong: the string is already Unicode, rather than UTF-8 bytes, it just contains a Unicode BOM codepoint that can be skipped - switching to `utf8` byte processing even for that string seems incorrect.

https://metacpan.org/source/RURBAN/Cpanel-JSON-XS-4.10/XS.xs#L3752

thanks,

Tom


Yep, https://metacpan.org/pod/Cpanel::JSON::XS#BOM describes that it can `accept and decode a BOM` but doesn't go into enough detail about what happens after (it does mention throwing errors, but not about the state of the Cpanel::JSON::XS object upon encountering the BOM.)

Given that RFC7159 was quoted as well, it probably would be better to keep in line with that and ignore/filter out BOMs from anywhere in the text source entirely.

Hmm, I have to think about how to detect such instances. Good testcase

The description for BOM handling is referencing the outdated RFC7159, though the handling of BOM hasn't changed. RFC8259 is newer and says:
```
   JSON text exchanged between systems that are not part of a closed
   ecosystem MUST be encoded using UTF-8 [RFC3629].

   Previous specifications of JSON have not required the use of UTF-8
   when transmitting JSON text.  However, the vast majority of JSON-
   based software implementations have chosen to use the UTF-8 encoding,
   to the extent that it is the only encoding that achieves
   interoperability.

   Implementations MUST NOT add a byte order mark (U+FEFF) to the
   beginning of a networked-transmitted JSON text.  In the interests of
   interoperability, implementations that parse JSON texts MAY ignore
   the presence of a byte order mark rather than treating it as an
   error.
```
https://tools.ietf.org/html/rfc8259#section-8.1

I also believe this BOM handling was originally added for these testcases, I wonder if it's that important. https://github.com/rurban/Cpanel-JSON-XS/issues/72

> RFC8259 is newer 
One minor comment in this: RFC8259 being newer doesn't mean it's necessarily better. The very first RFC is still the best and secure, the 2nd started adding insecurities, and the third didn't clarify at all the glaring open problems (such as dupkeys), it just declared BOM's or other implicit encodings wrong. Nobody takes them too serious as the cat is already out of the bag. And the clarifications didn't help, they made it even worse.

I've fixed it now to restore the BOM-set utf8 flag after each decode call and added to the documentation:

*The BOM encoding is set only for one specific decode call, it does not
change the state of the JSON object.*

This way we can avoid keeping the global decoding pos in the object (like we do with incr_pos). 
The BOM encoding is still set at the beginning of each decode call, because we have no document or streaming support. But it's then reverted after the call.
We only deal with strings, which can be in the middle of any line-wise processed document or stream.

We could add a new **disallow_bom** flag if this becomes too troublesome, but I doubt so. Those BOM's are a rarity in normal strings.

There is still the mentioned issue that finding the (decoded) BOM should not enable utf8 at all. The text is already decoded.

`$json->decode("\x{feff}" . $as_json)` does enable utf8 for $as_json. Any BOM is honored. 
We follow the BOM parts of RFC7159. Not RFC8259, and not the scalar (allow_nonref) additions of RFC7159. This is all documented.

That doesn't make any sense. Enabling utf8 means it decodes from UTF-8 but \x{feff} is clearly not encoded to any byte encoding, therefore neither is the rest of the string.

This is the very definition of a BOM. Look it up. What we cannot do is checking if it's at the very start of a document or stream. We have no API for that.

Done with 4.11

RFC7159 says the same thing I quoted above regarding BOMs, it only says that implementations may ignore it, so it does not seem relevant.

A BOM could tell you to decode it from UTF-8 if it was a UTF-8 encoded BOM. But \x{feff} is not encoded, so decoding it from *anything* is incorrect. The issue is not determining that it was UTF-8 encoded, but assuming the presence of the BOM means it is still encoded.

No. U+FEFF is the UTF16BOM, it assumes the subsequent string to be UTF-16LE encoded. And thus we decode it from UTF-16LE.

That's not accurate. U+FEFF is the Unicode "byte order mark" codepoint, for any encoding. It indicates an encoding only by being encoded to bytes.

As shown in the original post, "\x{feff}" concatenated with non-byte-encoded JSON should not be decoded as it will fail.

Thank you for the fix and updated version!

> No. U+FEFF is the UTF16BOM, it assumes the subsequent string to be UTF-16LE encoded. And thus we decode it from UTF-16LE.

I'm confused by this - I'd take it to mean that you'd expect this to pass?

```
use strict;
use warnings;
use Test::More;
use Cpanel::JSON::XS;
use Encode;

ok(eval { Cpanel::JSON::XS->new->decode("\x{feff}" . Encode::encode("UTF16LE", q({"example":"data"}))); }, 'can decode BOM-prefixed strings');
done_testing;
```

I'm not a Unicode expert, but the string contains the *codepoint* `0xFEFF`, *not* the bytes `0xFE 0xFF` (which I agree would be the UTF16 BOM). The actual bytes are `0xEF 0xBB 0xBF`, which have nothing to do with UTF16?

@Grinnz If I understand the current code correctly, the behaviour is now "force on the UTF-8 flag and upgrade (which should be a no-op)".

Although I agree with what you're saying about the BOM and encoding concepts, this codepath can only be triggered when there's a BOM character, so I believe the SvUTF8 flag would *always* have to be set here. i.e. the current code makes assumptions about internal UTF-8 representation (and is doing some unnecessary work) but I don't think it introduces any new failure modes. Will raise a new issue if we run into any strings that break with the BOM prefix.