Different locales cause invalid JSON to be generated

```
use POSIX qw(setlocale);
use Cpanel::JSON::XS;
setlocale(POSIX::LC_ALL, "fr_FR.utf-8");
print Cpanel::JSON::XS->new->encode({"invalid" => 123.45});
```
```
{"invalid":123,45}
```
This is invalid JSON, as numbers should always be output with a decimal point; RFC 7159, section 6.

Ah, I see this is (presumably) [this bug](http://perldoc.perl.org/5.24.0/perl5200delta.html#Locale-decimal-point-character-no-longer-leaks-outside-of-use-locale-scope) in perl fixed in 5.20. Should this module provide a workaround for earlier perl versions, e.g. making sure numbers arre output in a fallback locale?

Does `no locale;` in the scope fix it by any chance?

Not that I can see (this is with 5.18, trusty, LTS end April 2019):
```
use POSIX qw(setlocale);
use Cpanel::JSON::XS; 
setlocale(LC_ALL, "fr_FR.utf-8");
no locale;
print Cpanel::JSON::XS->new->encode({"invalid"=>123.45});
```
```
{"invalid":123,45}
```

Backport the numeric locale fallback from 5.22 to earlier versions. (embed Gconvert into locale C)

Thanks!