encode_json() fails to escape control characters properly

`encode_json()` doesn't seem to properly escape control characters. Consider the following input:
```perl
my $sJsonString = encode_json({foo => "bar\nbaz"});
```
I'd expect `$sJsonString` to be
```json
{"foo":"bar\\nbaz"}
```
but this is apparently not the case, if I redirect `$sJsonString` to a file, I'm actually getting
```json
{"foo":"bar\nbaz"}
```
which then makes `JSON.parse()` complain, that I have a "bad control character in string literal".

If I use single quotes
```perl
my $sJsonString = encode_json({foo => 'bar\nbaz'});
```
I do get the properly escaped `{"foo":"bar\\nbaz"}` back.

Not a bug. JSON must not mangle the string representation, even if the \n is unfortunate and breaks many JSON readers.
You might want to replace a \n with the +U000A representation instead, or quote it manually. That's what I usually do.

> JSON must not mangle the string representation, even if the \n is unfortunate and breaks many JSON readers.

I don't think this matches the RFC?

> All Unicode characters may be placed within the
>  quotation marks, except for the characters that MUST be escaped:
>   quotation mark, reverse solidus, and the control characters (U+0000
>   through U+001F).

As a control character, `\n` (U+0012) **must** be escaped for an RFC4627/RFC7159/RFC8259-compliant encoder.

https://tools.ietf.org/html/rfc8259#section-7

According to the wording in that section, JSON **must** "mangle" the string representation, and indeed there is already [precedent for this in Cpanel::JSON::XS](https://metacpan.org/pod/Cpanel::JSON::XS#$json-=-$json-%3Eescape_slash-([$enable])).

(same wording dates back to https://tools.ietf.org/html/rfc4627, although RFC8259 was updated to emphasise more strongly).

Oh cool. Thanks for insisting. I hate line-wrapping json strings.

`jq` behaves the same:
```
$ echo '{"x":"a\u000Ab"}' | jq ""
{
  "x": "a\nb"
}
$ echo '{"x":"a\nb"}' | jq ""
{
  "x": "a\nb"
}
```